{{!

 Copyright (c) 2018 superadmin (email : hola@superadmin.es)

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License, version 2 or, at
 your discretion, any later version, as published by the Free
 Software Foundation.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA

}}

<div id='banner-wrapper'>
  <div class='banner-row'>
    <div class='banner-column'>      
      	{{! //////////////// AYUDA //////////////// }}
	
		<p>
			¿Necesitas ayuda, tienes ideas para mejorar el plugin?
		</p>
		<p>
			Cuéntanos que necesitas:
		</p>
		<p>
			<a target="_blank" href="https://superadmin.es/contacto/?utm_source=wordpressorg&utm_campaign=adapta_rgpd&utm_medium=direct" style="text-decoration: none">
				<button class=" button button-primary" style="margin: 0.5em 0">
					CONTACTAR				
				</button>
			</a>
		</p>      
      
      	<br>
		<h2>Cómo funciona</h2>		
		<p>
			Tras activar el plugin, en el menú "Páginas" aparecen publicadas 3 nuevas páginas con los textos legales:
			<ul style="padding-left: 20px">
				<li>&bull; Aviso Legal</li>
				<li>&bull; Política de Privacidad</li>
				<li>&bull; Política de Cookies</li>
			</ul>
		</p>
		<p>		
			El contenido es creado dinámicamente en el momento en que el usuario visita cualquiera de las páginas que contienen los textos legales. De este modo, puedes haces cambios en los datos del Titular o en la configuración del plugin que los textos estarán siempre actualizados.
		</p>
		<p>		
			En el menú principal aparece un nuevo elemento con el nombre "Adapta RGPD" que sirve para configurar el plugin. Al pulsar sobre su nombre verás que tiene 4 pestañas:
		</p>
		
		<h4>1. Titular</h4>
		<p>
			Está compuesta por un formulario que sirve para rellenar los datos del titular <i>&mdash; ya sea un particular o una empresa&mdash;</i> y del sitio web. 
		</p>

		<h4>2. Textos legales</h4>
		<p>
			Formado por 2 apartados:
		</p>
			<ul style="padding-left: 20px">
				<li>&bull; <b>Páginas Legales</b><br/>Para activar o desactivar las páginas de Aviso Legal, Política de Privacidad y la Política de Cookies.</li>
				<li>&bull; <b>Primera capa informativa</b><br/>Sirve para cumplir el deber de informar.</li>				
			</ul> 
		
		<h4>3. Banner de Cookies</h4>
		<p>
			Sirve para activar el banner de cookies y aspectos del la Política de Cookies.</li>
		</p>

		<h4>3. Ayuda</h4>
		<p>
			Esta sección de ayuda y un <a href="https://superadmin.es/contacto/?utm_source=wordpressorg&utm_campaign=adapta_rgpd&utm_medium=direct" target="_blank">enlace</a> desde el que <b>puedes mandarnos cualquier consulta o sugerencia</b>.
		</p>

		<br>
		<h2>Shortcodes</h2>		
		<ul style="padding-left: 20px">
			<li>&bull; <b>Páginas Legales</b>
				<br>Para mostrar el texto del Aviso Legal, la Política de Privacidad o la Política de Cookies<br/> a través de un shortcode utiliza respectivamente:
				<br/>
				<br/>[argpd_aviso-legal/]
				<br/>[argpd_politica-privacidad/]>
				<br/>[argpd_politica-cookies/]			
				<br/><br/>
			</li>	
			<li>&bull; <b>Primera capa informativa</b><br/>
				<br/>[argpd_deber_de_informar finalidad="" destinatarios=""/]		
			</li>
		</ul>			
      </div>
    
    
    	<div class='banner-column'>
    	{{! //////////////// BANNER //////////////// }}        
        <div class="banner-card" style="text-align: center; background-color: #f7f7f7">
			<img src="https://superadmin.es/img/superadmin-premium-hosting-administrado.png" alt="Superadmin - Hosting WordPress Administrado">
		
			<div class="banner-text" >
				<h2 style="font-size: 1.5em"><a href="https://superadmin.es">Superadmin.es</a><h2>
				
				<h2>Ayuda de<br/>
				expertos en WordPress</h2>	
				
				<a 	target="_blank" 			
					href="https://superadmin.es/contacto/?source=wordpressorg">
					<button class="button button-secondary">
						CONTACTAR
					</button>
				</a>

				<a 	target="_blank"			
					href="https://superadmin.es/caracteristicas/source=wordpressorg">
					<button class=" button button-primary">
						VER DETALLES
					</button>
				</a>
			</div>
		</div>
		</div>
    </div>  
</div>
